body{
    background-color: #E5E5E5;
    padding-left: 0%;
    margin-left:0 ;
}

h1,h2,h3,h4,h5,h6,a,p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    
}

ul{
    list-style: none;
    padding-left: 0%;
    display: flex;
    flex-direction: row;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.colored-section{
    background-color: #fff;
    border-bottom-left-radius: 9%;
    background-image: url(images/header-img1.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position:  100% 60px;
   
}

.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    size: 2rem;
    font-weight: 700;
    color: #6070ff !important;
}

.navbar{
    width: 100%;
    background-color: #fff;
}

.nav-link{
    color: #344563 !important;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.title-section1{
    height: 680px;
    position: relative;
}

.social-buttons{
    margin: 2% 0% 0% 0%;
}

.emoji {
    font-size: 1.5rem;
    color: #505f79;
    margin-left: 10px;
  }
.emoji1{
    margin-left: 0px;;
}
  
.big-header{
    color: #091E42;
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    line-height: 60px;
    margin: 20% 10% 1% 0%;
}

.second-header{
    color: #091E42;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    line-height: 28px;
    margin: 1% 16% 4% 0%;
  
}

.lets-connect{
    text-decoration: none;
    color: #7f8cff;
    font-weight: 500px;
    font-size: 16px;
}

 /* card */

.card-continer{
    display: grid;
    vertical-align: bottom;
    gap: 5%;
    padding: 10% 10% 10% 10%;
    margin-bottom: 20%;
}

.card{
    border-radius: 24px;
}

.card-body{
    padding-top: 14%;
}

.img-holder{
    padding: 2%;
}

.card-title{
    text-align: left;
}

.CANPOY{
   text-align: left;
}

.fa-circle{
    color: #C1C7D0;
    font-size: 0.6rem;
}

.card-text{
    margin: 5% 0% 5% 0%;
    text-align: left;
}

.tags{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.tag{
    padding: 4px 12px;
    background: #EBEBFF;
    border-radius: 8px;
    height: 30px;
    color: #6070FF;
}

.action{
   margin: 5% 0% 5% 0% ;
    
}

.section-3{
    background-color: #fff;
    border-top-right-radius: 9%;
}

.third-title{
    margin: 20% 5% 5% 0%;

}
.about-my-self{
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
    line-height: 52px;
}

.section3-text{
    color: #344563;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.social-buttons1{
    margin: 5% 0% 5% 0%;
}

.sills-list{
    margin-top: 20%;
}



/* section 4 */

.section-4{
    background-color: #6070FF;
    background-image: url(images/section-4.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position:  90% 60px;
    border-top-left-radius: 9%;
}

.contact-me{
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin: 0% 0% 0% 40%;
}

.section4-about{
    color: #EBEBFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 1% 30% 6% 30%;
}

.form{
    margin: 1% 30% 1% 30%;
}

.form-control{
    margin: 0% 0% 3% 0%;
}

.last-btn{
    margin: 0% 0% 0% 40%;
}


